// Colours

// Primary
$vDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

// Neutral
$darkGrayMagenta: hsl(303, 10%, 53%);
$grayMagenta: hsl(300, 24%, 96%);
$white: #fff;

// Font
$spartan: 'Spartan', sans-serif;
